body{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
main{
  display: flex;
  justify-content: center;
  padding:20px;
  height: 250px;
  background-color: grey;
}
img{
    height:420px;
    width:420px;
    border:none;
    border-radius:10px;
    box-shadow: 10px 8px 6px #413f3f;
}
.sub-main{
    margin-top: 180px;
}
#title{
    text-align: center;
    font-family: "Edu AU VIC WA NT Guides", cursive;

}
#desc{
    padding:30px;
    text-align: justify;
    line-height: 23px;
}
span{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
}
h3{
    margin-left:25px;
}

.foot{
    height: 30px;
    width:100%;
    background-color: grey;
    text-align: center;
  }

nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #c6522f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 10px;
    transition: 0.5s;
  }
  
  .button2 span:after {
    content: '\00AB';
    position: relative;
    opacity: 0;
    top: 0;
    left: -80px;
    transition: 0.5s;
  } 
  
  .button2:hover span {
    padding-left: 20px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }
